<div class=wrapper>
  <% @artists.each do |artist| %>
  <div class=left_image_box>
      <div class=artist_image>
        <%= link_to image_tag(artist.artist_image), "/" %>
      </div>
      <div class=artist_name>
        <p class=text_name><%= artist.artist_name %></p>
      </div>
  </div>
  <% end %>
</div>

