<%= render "shared/header" %>
<div class=wrapper>
  <% if @genres.blank? %>
    <div class='message-box'>
      <div class='message-data-nashi'>
        該当するデータがありません。
      </div>
    </div>
  <% end %>
  <% @genres.each do |artist| %>
  <div class=artist>
    <%= link_to image_tag(artist.image, class: "photo"), artist_works_path(artist.id) if artist.image.present? %>
      <div class=name>
      <p class=text_name><%= artist.artist_name %></p>
    </div>  
  </div>
  <% end %>  
</div>
<%= render "shared/footer" %>