 .wrapper {
  width: 100vw;
  padding: 0 50px;
  overflow: hidden;
  /* background-color: blue; */
}   

.artist {
  width: Calc(100vw / 2 - 100px);
  margin: 20px;
  float: left;
  
  /* background-color: green; */
}

.message-box {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;
}


.photo {
  width: Calc(100vw / 2 - 100px);
  height: 300px;
} 

/* img {
  width: Calc(100vw / 2 - 100px);
  height: 300px;
}  */

.name {
  width: Calc(100vw / 2 - 100px);
  height: 94px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text_name {
  font: bold;
  text-align: center;
  color: white;
  font-size: 30px;
}



